*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
}

body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  border: 1px solid black;
}

.navbar {
  background-color: red;
}/*# sourceMappingURL=App.css.map */