.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(15rem + 30vw);
  height: auto;
  z-index: 3;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  background: #fff;
  padding: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.modal-left {
  flex-basis: 40%;
  overflow: hidden;
}

.modal-right {
  flex-basis: 60%;
}

.close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.title {
  font-size: 1.2rem;
  font: bold;
}

.title::after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background-color: black;
  transform: translateY(0.5em); /*make it move based on Y axis*/
}

.bio {
  padding-top: 1rem;
}
