.header {
  height: 6rem;
  padding: 0.8em 1em;
  background: black;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.sub-header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
