.search {
  padding: 0.8em 1em;
  display: flex;
  justify-content: space-between;
}
.search-box {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  background-color: white;
  outline: 0;
}
